In [3]:
import pandas as pd
import numpy as np
from sklearn.metrics import pairwise_distances

In [4]:
raw_data = pd.read_csv('movie_ratings.csv', index_col=0)
raw_data

,4d22b,e36d7,c5f52,900a3,bac6f,7ac23,a0315,461ff,c52e2,0c20d,74541,c2afd,ff965,186bc
Inception,4,5,5,5,4,4,4,4,5,4,4,5,NaN,5
Zero Dark Thirty,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21 Jump Street,5,5,NaN,3,3,NaN,NaN,NaN,4,NaN,2,NaN,NaN,NaN
The Lego Movie,NaN,NaN,NaN,NaN,NaN,4,NaN,2,3,5,3,NaN,NaN,NaN
The Avengers,3,NaN,5,4,NaN,3,4,5,5,5,4,4,NaN,5
Interstellar,NaN,5,3,4,NaN,3,4,5,5,NaN,2,NaN,NaN,NaN
Gravity,NaN,4,4,3,NaN,4,NaN,NaN,3,4,3,NaN,NaN,NaN
Zootopia,NaN,NaN,5,NaN,NaN,NaN,4,5,NaN,5,5,NaN,NaN,NaN
Inside Out,NaN,5,5,4,5,5,4,5,2,5,5,5,NaN,3
Life of Pi,NaN,3,NaN,NaN,5,NaN,NaN,4,5,4,1,NaN,5,4
Wall-E,5,4,4,4,5,5,4,NaN,5,4,4,4,NaN,NaN
Changeling,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,NaN,NaN
The Help,NaN,4,NaN,5,5,NaN,NaN,NaN,NaN,NaN,4,5,NaN,NaN
Brave,NaN,4,4,5,NaN,5,2,NaN,4,5,3,2,NaN,NaN
Birdman,NaN,NaN,NaN,NaN,NaN,2,NaN,5,NaN,4,NaN,NaN,NaN,4
Argo,NaN,4,NaN,NaN,NaN,3,NaN,NaN,4,5,NaN,NaN,NaN,NaN
Her,NaN,NaN,NaN,NaN,4,4,NaN,5,NaN,NaN,NaN,NaN,NaN,NaN
Ex Machina,NaN,NaN,NaN,3,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,4
Cloud Atlas,NaN,NaN,NaN,2,NaN,4,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN
Big Hero 6,NaN,NaN,5,4,NaN,5,5,5,5,5,5,5,NaN,NaN
American Hustle,NaN,2,NaN,NaN,4,3,NaN,NaN,4,4,NaN,NaN,NaN,NaN
Steve Jobs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,3,NaN,NaN,NaN,4,NaN
The Babadook,NaN,NaN,5,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Wreck-it Ralph,5,3,5,4,NaN,4,4,NaN,3,5,5,5,NaN,NaN
Ted,2,NaN,NaN,NaN,1,5,NaN,4,4,1,NaN,NaN,3,4
Up,5,5,5,5,4,4,4,NaN,5,5,5,5,NaN,NaN
Gone Girl,NaN,2,2,NaN,NaN,NaN,NaN,5,NaN,3,NaN,NaN,NaN,NaN
The Grand Budapest Hotel,5,NaN,NaN,NaN,NaN,NaN,NaN,5,NaN,5,NaN,NaN,NaN,NaN
Selma,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,NaN,NaN
Moonrise Kingdom,5,NaN,NaN,NaN,5,NaN,5,NaN,NaN,5,NaN,4,NaN,NaN

In [5]:
data_v2 = raw_data[raw_data.shape[1]-raw_data.T.isnull().sum()>3]

In [6]:
data_v2

,4d22b,e36d7,c5f52,900a3,bac6f,7ac23,a0315,461ff,c52e2,0c20d,74541,c2afd,ff965,186bc
Inception,4,5,5,5,4,4,4,4,5,4,4,5,NaN,5
21 Jump Street,5,5,NaN,3,3,NaN,NaN,NaN,4,NaN,2,NaN,NaN,NaN
The Lego Movie,NaN,NaN,NaN,NaN,NaN,4,NaN,2,3,5,3,NaN,NaN,NaN
The Avengers,3,NaN,5,4,NaN,3,4,5,5,5,4,4,NaN,5
Interstellar,NaN,5,3,4,NaN,3,4,5,5,NaN,2,NaN,NaN,NaN
Gravity,NaN,4,4,3,NaN,4,NaN,NaN,3,4,3,NaN,NaN,NaN
Zootopia,NaN,NaN,5,NaN,NaN,NaN,4,5,NaN,5,5,NaN,NaN,NaN
Inside Out,NaN,5,5,4,5,5,4,5,2,5,5,5,NaN,3
Life of Pi,NaN,3,NaN,NaN,5,NaN,NaN,4,5,4,1,NaN,5,4
Wall-E,5,4,4,4,5,5,4,NaN,5,4,4,4,NaN,NaN
The Help,NaN,4,NaN,5,5,NaN,NaN,NaN,NaN,NaN,4,5,NaN,NaN
Brave,NaN,4,4,5,NaN,5,2,NaN,4,5,3,2,NaN,NaN
Birdman,NaN,NaN,NaN,NaN,NaN,2,NaN,5,NaN,4,NaN,NaN,NaN,4
Argo,NaN,4,NaN,NaN,NaN,3,NaN,NaN,4,5,NaN,NaN,NaN,NaN
Big Hero 6,NaN,NaN,5,4,NaN,5,5,5,5,5,5,5,NaN,NaN
American Hustle,NaN,2,NaN,NaN,4,3,NaN,NaN,4,4,NaN,NaN,NaN,NaN
Wreck-it Ralph,5,3,5,4,NaN,4,4,NaN,3,5,5,5,NaN,NaN
Ted,2,NaN,NaN,NaN,1,5,NaN,4,4,1,NaN,NaN,3,4
Up,5,5,5,5,4,4,4,NaN,5,5,5,5,NaN,NaN
Gone Girl,NaN,2,2,NaN,NaN,NaN,NaN,5,NaN,3,NaN,NaN,NaN,NaN
Moonrise Kingdom,5,NaN,NaN,NaN,5,NaN,5,NaN,NaN,5,NaN,4,NaN,NaN

In [44]:
data = data_v2.T[(data_v2.shape[0]-data_v2.isnull().sum())/data_v2.shape[0]>.5].T
data = data[data.shape[1]-data.T.isnull().sum()>3]
data = data.T[(data.shape[0]-data.isnull().sum())/data.shape[0]>.5].T
data = data[data.shape[1]-data.T.isnull().sum()>3]
data = data.fillna(3)-3

In [45]:
data

                 e36d7  c5f52  900a3  7ac23  a0315  461ff  c52e2  0c20d  74541
Inception            2      2      2      1      1      1      2      1      1
21 Jump Street       2      0      0      0      0      0      1      0     -1
The Lego Movie       0      0      0      1      0     -1      0      2      0
The Avengers         0      2      1      0      1      2      2      2      1
Interstellar         2      0      1      0      1      2      2      0     -1
Gravity              1      1      0      1      0      0      0      1      0
Zootopia             0      2      0      0      1      2      0      2      2
Inside Out           2      2      1      2      1      2     -1      2      2
Life of Pi           0      0      0      0      0      1      2      1     -2
Wall-E               1      1      1      2      1      0      2      1      1
Brave                1      1      2      2     -1      0      1      2      0
Argo                 1      0      0      0      0      0      1      2      0
Big Hero 6           0      2      1      2      2      2      2      2      2
American Hustle     -1      0      0      0      0      0      1      1      0
Wreck-it Ralph       0      2      1      1      1      0      0      2      2
Ted                  0      0      0      2      0      1      1     -2      0
Up                   2      2      2      1      1      0      2      2      2
Gone Girl           -1     -1      0      0      0      2      0      0      0

In [36]:
def make_simil_data(any_data):
    simil_data = pd.DataFrame(pairwise_distances(any_data.T, metric='euclidean'))
    simil_data.columns = any_data.columns
    simil_data = simil_data.rename((dict(zip(range(simil_data.shape[0]), any_data.columns))))
    return simil_data
simil_data = make_simil_data(data)
simil_data

,e36d7,c5f52,900a3,7ac23,a0315,461ff,c52e2,0c20d,74541
e36d7,0.000000,5.099020,3.741657,5.000000,4.795832,6.164414,5.477226,6.403124,6.403124
c5f52,5.099020,0.000000,3.464102,4.358899,3.605551,5.291503,5.656854,4.123106,3.316625
900a3,3.741657,3.464102,0.000000,3.605551,3.605551,5.099020,4.242641,5.000000,4.582576
7ac23,5.000000,4.358899,3.605551,0.000000,4.472136,5.744563,5.567764,5.830952,4.898979
a0315,4.795832,3.605551,3.605551,4.472136,0.000000,3.872983,4.795832,5.477226,3.741657
461ff,6.164414,5.291503,5.099020,5.744563,3.872983,0.000000,5.656854,6.708204,5.916080
c52e2,5.477226,5.656854,4.242641,5.567764,4.795832,5.656854,0.000000,6.403124,7.280110
0c20d,6.403124,4.123106,5.000000,5.830952,5.477226,6.708204,6.403124,0.000000,5.477226
74541,6.403124,3.316625,4.582576,4.898979,3.741657,5.916080,7.280110,5.477226,0.000000

In [10]:
simil_data["a0315"].sort_values()[1:4]

c5f52    3.605551
900a3    3.605551
74541    3.741657
Name: a0315, dtype: float64

In [109]:
# Inputs a user already present in the data table as a string, or a new user as a pandas DataFrame,
# and returns the recommended movie based off the three nearest movies. Non destructive.
# Note: a new User Vector should be -2 to 2, but nonwatched movies should be NaN or null.
# Quirks: it can return a movie that a user has already watched if it is rated 3 and the user is preexisting.
#          Unlikely, though, because why would it recommend a movie that the user rated 3.


def recommend(user):
    data_copy = data.copy()
    try:
        simil_users = (simil_data[user].sort_values()[1:4])
        data_copy = data_copy[data_copy[user] == 0]
    except TypeError:
        data_copy = data_copy.join(user)
        user = data_copy[user.name]
        small_data = data_copy[data_copy[user.name].isnull() == False]
        print(small_data)
        data_copy = data_copy.fillna(0)
        simil_data_copy = make_simil_data(small_data)
        simil_users = (((simil_data_copy[user.name]).drop(user.name)).sort_values()[0:3])
        print(simil_users)
        data_copy = data_copy[user.isnull()]
    simil_user_data = data_copy[simil_users.axes[0].values]
    for user in simil_user_data:
        simil_user_data[user] = simil_user_data[user]*(1/(simil_users[user]+.1))
    print(simil_user_data.T.sum())
    recommendation = simil_user_data.T.sum().idxmax()
    return recommendation
    
recommend("a0315")

21 Jump Street    -0.260304
The Lego Movie     0.000000
Gravity            0.269865
Life of Pi        -0.520609
Argo               0.000000
American Hustle    0.000000
Ted                0.000000
Gone Girl         -0.269865
dtype: float64

/Users/17jacksonmeyer-lee/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

'Gravity'

In [97]:
lego_user = pd.Series({"The Lego Movie" : -1},  name = "_Lego")
data_test = data.copy()
recommend(lego_user)

                e36d7  c5f52  900a3  7ac23  a0315  461ff  c52e2  0c20d  74541  \
The Lego Movie      0      0      0      1      0     -1      0      2      0

                _Lego
The Lego Movie     -1
461ff    0
e36d7    1
c5f52    1
Name: _Lego, dtype: float64
Inception          13.636364
21 Jump Street      1.818182
The Avengers       21.818182
Interstellar       21.818182
Gravity             1.818182
Zootopia           21.818182
Inside Out         23.636364
Life of Pi         10.000000
Wall-E              1.818182
Brave               1.818182
Argo                0.909091
Big Hero 6         21.818182
American Hustle    -0.909091
Wreck-it Ralph      1.818182
Ted                10.000000
Up                  3.636364
Gone Girl          18.181818
dtype: float64

/Users/17jacksonmeyer-lee/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

'Inside Out'

In [98]:
print(data.axes[0].values)

['Inception' '21 Jump Street' 'The Lego Movie' 'The Avengers'
 'Interstellar' 'Gravity' 'Zootopia' 'Inside Out' 'Life of Pi' 'Wall-E'
 'Brave' 'Argo' 'Big Hero 6' 'American Hustle' 'Wreck-it Ralph' 'Ted' 'Up'
 'Gone Girl']

In [99]:
for i in (data.axes[0].values):
    print(i)

Inception
21 Jump Street
The Lego Movie
The Avengers
Interstellar
Gravity
Zootopia
Inside Out
Life of Pi
Wall-E
Brave
Argo
Big Hero 6
American Hustle
Wreck-it Ralph
Ted
Up
Gone Girl

In [108]:
emma = [4,4,4,1,2,0,4,1,4,2,1,4,4,4,4,4,1,-1]
emma_sr = pd.Series(dict(zip(data.axes[0].values, emma)), name = "_emma")
for i in emma_sr.iteritems():
    if i[1] == 4:
        emma_sr = emma_sr.drop(i[0])

recommend(emma_sr)

              e36d7  c5f52  900a3  7ac23  a0315  461ff  c52e2  0c20d  74541  \
The Avengers      0      2      1      0      1      2      2      2      1
Interstellar      2      0      1      0      1      2      2      0     -1
Gravity           1      1      0      1      0      0      0      1      0
Inside Out        2      2      1      2      1      2     -1      2      2
Wall-E            1      1      1      2      1      0      2      1      1
Brave             1      1      2      2     -1      0      1      2      0
Up                2      2      2      1      1      0      2      2      2
Gone Girl        -1     -1      0      0      0      2      0      0      0

              _emma
The Avengers      1
Interstellar      2
Gravity           0
Inside Out        1
Wall-E            2
Brave             1
Up                1
Gone Girl        -1
e36d7    2.236068
900a3    2.236068
a0315    2.645751
Name: _emma, dtype: float64
Inception          2.076478
21 Jump Street     0.856139
The Lego Movie     0.000000
Zootopia           0.364199
Life of Pi         0.000000
Argo               0.428070
Big Hero 6         1.156468
American Hustle   -0.428070
Wreck-it Ralph     0.792269
Ted                0.000000
dtype: float64

/Users/17jacksonmeyer-lee/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

'Inception'